#import random
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js'></script>
<script type='text/javascript' src='obwx.js?v=#echo int(random.random()*123456789)#'></script> 
