<div class='row g-0'>
    <div class='col-6 pb-2 current-wx-icon'>---</div>                             
    <div class='col-6 pb-2 current-outTemp'>
        <span class='outTemp'>--.-<sup>&deg;</sup></span>
    </div>
    <div class='col-6 pb-2 current-wx-text'>-----</div>
    <div class='col-6 pb-2 feels-like'>--</div>
    <div class='col-6 pb-2 outHumidity'>---</div>
    <div class='col-6 pb-2 dewpoint'>---</div>
</div>
