<div class='row g-0 h-100 py-2 align-items-center'>
    <div class='col-6 current-wx-icon'>---</div>                             
    <div class='col-6 current-outTemp'>
        <span class='outTemp'>--.-<sup>&deg;</sup></span>
    </div>
    <div class='col-6 current-wx-text'>-----</div>
    <div class='col-6 feels-like'>--</div>
    <div class='col-6 outHumidity'>---</div>
    <div class='col-6 dewpoint'>---</div>
</div>
