<div class='position-relative' style='flex-basis: 150px; min-height: 150px;'>
    <div class='position-absolute'>
        <canvas id='rose' width='150' height='150'></canvas>
    </div>
    <div class='position-absolute rose-arrow'>
        <canvas id='rose-arrow' width='150' height='150'></canvas>
    </div>
    <div class='position-absolute w-100 wind-direction-deg'>--</div>
</div>

