<div class='position-relative'>
    <div class='wind-meter mx-auto'></div>
    <div class='wind-speed-mph'>---</div>
    <div class='windometer-tickmark' style='transform: rotate(-45deg);'></div>
    <div class='windometer-tickmark' style='transform: rotate(0deg);'></div>
    <div class='windometer-tickmark' style='transform: rotate(45deg);'></div>
    <div class='windometer-tickmark-recentHi' style='transform: rotate(90deg);'></div>
    <div class='windometer-arrow'></div>
</div>
<div>
    <span class='windometer-legend-hi'>--</span>
</div>
<div>
    <span class='windSpd-20minMax'>--</span>
</div>

