<div class='position-relative w-100'>
    <div class='raingauge-bucket mx-auto'> 
        <div class='raingauge-rain'></div> 
        <div class='raingauge-tape' style='top:0%'></div> 
        <div class='raingauge-tape' style='top:25%'></div> 
        <div class='raingauge-tape' style='top:50%'></div> 
        <div class='raingauge-tape' style='top:75%'></div> 
        <div class='raingauge-text raingauge-dayRain'>--</div> 
    </div>
</div> 
<div class='pt-3 rainrate'>---</div> 
