<div class='row g-0 rain-records'>
    <div class='col'>
        <div class='rain-title'>Yesterday</div>
        <div class='rain-title'>Week</div>
        <div class='rain-title'>Month</div>
        <div class='rain-title'>Year</div>
    </div>
    <div class='col'>
        <div class='rain-value yesterday-rain'>---</div> 
        <div class='rain-value week-rain'>---</div> 
        <div class='rain-value month-rain'>---</div> 
        <div class='rain-value year-rain'>---</div> 
    </div>
</div>
