<!-- Rain Bucket -->
<div class='row g-0 py-3'>
    <div class='col-6 pt-3'>
        <div class='position-relative'>
            <div class='raingauge-bucket mx-auto'> 
                <div class='raingauge-rain'></div> 
                <div class='raingauge-tape'></div> 
                <div class='raingauge-tape'></div> 
                <div class='raingauge-tape'></div> 
                <div class='raingauge-tape'></div> 
                <div class='raingauge-text raingauge-dayRain'>--</div> 
            </div>
        </div> 
        <div class='pt-3 rainrate'>---</div> 
    </div>
    <div class='col-6 pt-3'>
        <!-- Rain Gauge -->
        <div class='row g-0 rain-records'>
            <div class='col'>
                <div class='rain-title'>Yesterday</div>
                <div class='rain-title'>Week</div>
                <div class='rain-title'>Month</div>
                <div class='rain-title'>Year</div>
            </div>
            <div class='col'>
                <div class='rain-value yesterday-rain'>---</div> 
                <div class='rain-value week-rain'>---</div> 
                <div class='rain-value month-rain'>---</div> 
                <div class='rain-value year-rain'>---</div> 
            </div>
        </div>
    </div>
</div>
