<div class='row g-0 my-3'>
    <div class='col'>
        <div class='uv'>---</div>
        <div class='uv-label'>UV Index</div>
    </div>
    <div class='col'>
        <div>
            <span class='barometer'>---</span>
            <span class='barometer-trend'>--</span>
        </div>
        <div>
            <div class='barometer-label'>Barometer</div>
        </div>
    </div>
</div>
