<div class='row g-0 my-3'>
    <div class='col'>
        <div class=''>
            <div class='records-title'>Today's High</div>
            <div class='outTemp-max'>--</div>
            <div class='records-time outTemp-max-time'>--</div>
        </div>
    </div>
    <div class='col'>
        <div class=''>
            <div class='records-title'>Today's Low</div>
            <div class='outTemp-min'>--</div>
            <div class='records-time outTemp-min-time'>--</div>
        </div>
    </div>
</div>
