<div class='row g-0 py-2'>
    <div class='col-12'>
        <div class='metar-header bb'>
            <span class='metar-location-name'>--</span>
            <span class='metar-updated'>--</span>
        </div>
    </div>
    <div class='col-12'>
        <div class='metar-sky'>
            <span>Sky:</span>
            <span class='metar-weather'>--</span>
        </div>
    </div>
    <div class='col-12'>
        <div class='metar-winds'>
            <span>Wind:</span>
            <span class='metar-wind-direction'>--</span>
            <span>at</span>
            <span class='metar-wind-speed-kts'>--</span>
            <span class='metar-wind-gust-kts'>--</span>
        </div>
    </div>
</div>
<div class='row g-0 pb-2'>
    <div class='col-6'>
        <div class='row g-0'>
            <!-- Temp -->
            <div class='col-6 pe-1 text-end metar-label'>Temp:</div>
            <div class='col-6 ps-1 text-start metar-oat'>--</div>
            <!-- Visibility -->
            <div class='col-6 pe-1 text-end metar-label'>Vis:</div>
            <div class='col-6 ps-1 text-start metar-vis'>--</div>
            <!-- Flight Rules -->
            <div class='col-6 pe-1 text-end metar-label'>Rules:</div>
            <div class='col-6 ps-1 text-start metar-rules'>--</div>
        </div>
    </div>
    <div class='col-6'>
        <div class='row g-0 cloud-layer'>--</div>
    </div>
</div>
