<div class='row g-0 mt-2 bt bs-lg be-lg'>
    <div class='col'>
        <div class='metar-location'>--</div>
        <div class='metar-updated'>--</div>
        <div class='metar-oat'>--</div>
        <div class='metar-rules'>--</div>
    </div>
    <div class='col bs be'>
        <div class='metar-vis'>--</div>
        <div>
            <div class='d-inline-block metar-wind-direction'>--</div>
            <div class='d-inline-block metar-wind-direction-deg'>---</div>
        </div>
        <div>
            <div class='d-inline-block metar-wind-speed-kts'>--</div>
            <div class='d-inline-block metar-wind-gust-kts'>--</div>
        </div>
    </div>
    <div class='col'>
        <div class='py-1 bb metar-weather'>--</div>
        <div class='metar-cloud-layer' style='font-size: var(--text-normal);'>--</div>
    </div>
</div>
