<!-- Forecast 0 -->
<div class='col-6 col-lg-2 py-2 bt be'>
    <div class="forecast-p0-date">--</div>
    <div class="row g-0">
        <div class="col-4">
            <div class="forecast-p0-icon"></div>
        </div>
        <div class="col">
            <div>
                <span class="forecast-p0-hilo-txt"></span>
                <span class="forecast-p0-hilo-temp"></span>
            </div>
            <div>
                <span class="forecast-p0-pop"></span>
                <img src="icons/raindrop.png">
                <span class="forecast-p0-precip"></span>
            </div>
        </div>
    </div>
    <div class="forecast-p0-wxPriCode"></div>
    <div>
        <span class="forecast-p0-windDir"></span>
        <img src="icons/windicon.png">
        <span class="forecast-p0-windSpd"></span>
    </div>
</div>
<!-- Forecast 1 -->
<div class='col-6 col-lg-2 py-2 bt be-lg'>
    <div class="forecast-p1-date">--</div>
    <div class="row g-0">
        <div class="col-4">
            <div class="forecast-p1-icon"></div>
        </div>
        <div class="col">
            <div>
                <span class="forecast-p1-hilo-txt"></span>
                <span class="forecast-p1-hilo-temp"></span>
            </div>
            <div>
                <span class="forecast-p1-pop"></span>
                <img src="icons/raindrop.png">
                <span class="forecast-p1-precip"></span>
            </div>
        </div>
    </div>
    <div class="forecast-p1-wxPriCode"></div>
    <div>
        <span class="forecast-p1-windDir"></span>
        <img src="icons/windicon.png">
        <span class="forecast-p1-windSpd"></span>
    </div>
</div>
<!-- Forecast 2 -->
<div class='col-6 col-lg-2 py-2 bt be'>
    <div class="forecast-p2-date">--</div>
    <div class="row g-0">
        <div class="col-4">
            <div class="forecast-p2-icon"></div>
        </div>
        <div class="col">
            <div>
                <span class="forecast-p2-hilo-txt"></span>
                <span class="forecast-p2-hilo-temp"></span>
            </div>
            <div>
                <span class="forecast-p2-pop"></span>
                <img src="icons/raindrop.png">
                <span class="forecast-p2-precip"></span>
            </div>
        </div>
    </div>
    <div class="forecast-p2-wxPriCode"></div>
    <div>
        <span class="forecast-p2-windDir"></span>
        <img src="icons/windicon.png">
        <span class="forecast-p2-windSpd"></span>
    </div>
</div>
<!-- Forecast 3 -->
<div class='col-6 col-lg-2 py-2 bt be-lg'>
    <div class="forecast-p3-date">--</div>
    <div class="row g-0">
        <div class="col-4">
            <div class="forecast-p3-icon"></div>
        </div>
        <div class="col">
            <div>
                <span class="forecast-p3-hilo-txt"></span>
                <span class="forecast-p3-hilo-temp"></span>
            </div>
            <div>
                <span class="forecast-p3-pop"></span>
                <img src="icons/raindrop.png">
                <span class="forecast-p3-precip"></span>
            </div>
        </div>
    </div>
    <div class="forecast-p3-wxPriCode"></div>
    <div>
        <span class="forecast-p3-windDir"></span>
        <img src="icons/windicon.png">
        <span class="forecast-p3-windSpd"></span>
    </div>
</div>
<!-- Forecast 4 -->
<div class='col-6 col-lg-2 py-2 bt be'>
    <div class="forecast-p4-date">--</div>
    <div class="row g-0">
        <div class="col-4">
            <div class="forecast-p4-icon"></div>
        </div>
        <div class="col">
            <div>
                <span class="forecast-p4-hilo-txt"></span>
                <span class="forecast-p4-hilo-temp"></span>
            </div>
            <div>
                <span class="forecast-p4-pop"></span>
                <img src="icons/raindrop.png">
                <span class="forecast-p4-precip"></span>
            </div>
        </div>
    </div>
    <div class="forecast-p4-wxPriCode"></div>
    <div>
        <span class="forecast-p4-windDir"></span>
        <img src="icons/windicon.png">
        <span class="forecast-p4-windSpd"></span>
    </div>
</div>
<!-- Forecast 5 -->
<div class='col-6 col-lg-2 py-2 bt'>
    <div class="forecast-p5-date">--</div>
    <div class="row g-0">
        <div class="col-4">
            <div class="forecast-p5-icon"></div>
        </div>
        <div class="col">
            <div>
                <span class="forecast-p5-hilo-txt"></span>
                <span class="forecast-p5-hilo-temp"></span>
            </div>
            <div>
                <span class="forecast-p5-pop"></span>
                <img src="icons/raindrop.png">
                <span class="forecast-p5-precip"></span>
            </div>
        </div>
    </div>
    <div class="forecast-p5-wxPriCode"></div>
    <div>
        <span class="forecast-p5-windDir"></span>
        <img src="icons/windicon.png">
        <span class="forecast-p5-windSpd"></span>
    </div>
</div>
