<div class='row g-0'>
    <div class='col-6'>
        <div class='current-wx-icon'>---</div>                             
    </div>
    <div class='col-6 my-auto'>
        <div class='current-outTemp'>
            <span class='outTemp'>--.-<sup>&deg;</sup></span>
        </div>
    </div>
</div>
<div class='row g-0'>
    <div class='col-6 current-wx'>
        <div class='current-wx-text'>-----</div>
        <div class='outHumidity'>---</div>
    </div>
    <div class='col-6 current-wx'>
        <div class='feels-like'>--</div>
        <div class='dewpoint'>---</div>
    </div>
</div>
