<div class='row g-0 h-100 py-2 align-items-center'>
    <!-- UV -->
    <div class='col-6'>
        <div class='uv'>---</div>
        <div class='uv-label'>UV Index</div>
    </div>
    <!-- Barometer -->
    <div class='col-6'>
        <span class='barometer'>---</span>
        <span class='barometer-trend'>--</span>
        <br>
        <span class='barometer-label'>Barometer</span>
    </div>
    <!-- Temp Daily Low -->
    <div class='col-6'>
        <div class='records-title'>Today's High</div>
        <div class='outTemp-max'>--</div>
        <div class='records-time outTemp-max-time'>--</div>
    </div>
    <!-- Temp Daily Low -->
    <div class='col-6'>
        <div class='records-title'>Today's Low</div>
        <div class='outTemp-min'>--</div>
        <div class='records-time outTemp-min-time'>--</div>
    </div>
    <!-- Inside Observations -->
    <div class='col-12 d-flex justify-content-center'>
        <div class='mx-2 inside-label'>Inside: </div>
        <div class='mx-2 inTemp'>--</div>
        <div class='mx-2 inHumidity'>--</div>
    </div>
</div>
