<div class='d-flex justify-content-center'>
    <div class='d-flex flex-column justify-content-between alm-outer'>
        <div class='sunrise'>
            <div class='sunrise-title'>Sunrise</div>
            <div class='sunrise-time'>--</div>
        </div>
        <div class='moonrise'>
            <div class='moonrise-time'>--</div>
            <div class='moonrise-title'>MoonRise</div>
        </div>
    </div>
    <div class='alm-inner'>
        <div class='daylight'>
            <span class='daylight-label'>Daylight: </span>
            <span class='daylight-time'></span>
        </div>
        <div>
            <canvas id='arcs' height='160' width='160'></canvas>
        </div>
        <div class='moon-phase'>----</div>
    </div>
    <div class='d-flex flex-column justify-content-between alm-outer'>
        <div class='sunset'>
            <div class='sunset-title'>Sunset</div>
            <div class='sunset-time'>--</div>
        </div>
        <div class='moonset'>
            <div class='moonset-time'>--</div>
            <div class='moonset-title'>MoonSet</div>
        </div>
    </div>
</div>
