#encoding UTF-8
#errorCatcher Echo
#set $daylight = $almanac.sun.set.raw - $almanac.sun.rise.raw
{
    "timestamp": "$current.dateTime.raw",
    "station": {
        "latitude": "$station.stn_info.latitude_f",
        "longitude": "$station.stn_info.longitude_f",
        "altitude": "$station.altitude",
        "serveruptime": "$station.os_uptime"
    },
    "today": {
        "outTemp": {
            "max": "$day.outTemp.max",
            "maxtime": "$day.outTemp.maxtime",
            "min": "$day.outTemp.min",
            "mintime": "$day.outTemp.mintime"
        },
        "wind": {
            "max": "$day.wind.max",
            "maxtime": "$day.wind.maxtime",
            "min": "$day.wind.min",
            "mintime": "$day.wind.mintime",
            "windGust_lastHr": "$span($hour_delta=1).windGust.max",
            "windSpd_1hrAvg": "$span($hour_delta=1).windSpeed.avg",
            "windDir_1hrAvg": "$span($hour_delta=1).windDir.avg.ordinal_compass"
        },
        "barometer": {
            "max": "$day.barometer.max",
            "maxtime": "$day.barometer.maxtime",
            "min": "$day.barometer.min",
            "mintime": "$day.barometer.mintime"
        },
        "rain": {
            "maxRate": "$day.rainRate.max",
            "sum": {
                "yesterday": "$day($days_ago=1).rain.sum",
                "week": "$day($days_ago=1).rain.sum",
                "month": "$month.rain.sum",
                "year": "$year.rain.sum"
            }
        }
    },
    "almanac": {
        "sun": {
            "rise": "$almanac.sun.rise.raw",
            "transit": "$almanac.sun.transit.raw",
            "set": "$almanac.sun.set.raw",
            "daylight": "$daylight",
            "antitransit": {
                "previous": "$almanac.sun.previous_antitransit.raw",
                "next": "$almanac.sun.next_antitransit.raw"
            }
        },
        "moon": {
            "rise": "$almanac.moon.rise.raw",
            "set": "$almanac.moon.set.raw",
            "phase": "$almanac.moon_phase",
            "percentfull": "$almanac.moon_fullness",
            "index": "$almanac.moon_index",
            "antitransit": {
                "previous": "$almanac.moon.previous_antitransit.raw",
                "next": "$almanac.moon.next_antitransit.raw"
            },
            "new": {
                "previous": "$almanac.previous_new_moon.raw",
                "next": "$almanac.next_new_moon.raw"
            },
            "full": {
                "previous": "$almanac.previous_full_moon.raw",
                "next": "$almanac.next_full_moon.raw"
            }
        }
    }
}
