#encoding UTF-8
#import datetime
#errorCatcher Echo
## ==== Set some useful variables ====
#set $daylight = $almanac.sun.set.raw - $almanac.sun.rise.raw
## ==== Check if an observation is present ====
#def test($obs, $val)
    #if $val
        "$obs": $val,
    #end if
#end def
## ==== Begin JSON ====
{
    "timestamp" : #echo $current.dateTime.raw*1000#,
    "station": {
        "latitude": "$station.stn_info.latitude_f",
        "longitude": "$station.stn_info.longitude_f",
        "altitude": "$station.altitude",
        "serveruptime": "$station.os_uptime"
    },
    "current": {
        $test("UV",$current.UV.raw)
        $test("appTemp_F", $current.appTemp.raw)
        $test("barometer_inHg", $current.barometer.raw)
        $test("dewpoint_F", $current.dewpoint.raw)
        $test("inHumidity", $current.inHumidity.raw)
        $test("inTemp_F", $current.inTemp.raw)
        $test("outTemp_F", $current.outTemp.raw)
        $test("outHumidity", $current.outHumidity.raw)
        $test("dayRain_in", $day.rain.sum.raw)
        $test("rainRate_inch_per_hour", $current.rainRate.raw)
        $test("windDir", $current.windDir.raw)
        $test("windGust_mph", $current.windGust.raw)
        $test("windSpeed_mph", $current.windSpeed.raw)
        "dateTime": $current.dateTime.raw
    },
    "today": {
        "outTemp": {
            "max": "$day.outTemp.max",
            "min": "$day.outTemp.min",
            "maxtime": #echo $day.outTemp.maxtime.raw*1000#,
            "mintime": #echo $day.outTemp.mintime.raw*1000#
        },
        "dewpoint": {
            "max": "$day.dewpoint.max",
            "min": "$day.dewpoint.min",
            "maxtime": #echo $day.dewpoint.maxtime.raw*1000#,
            "mintime": #echo $day.dewpoint.mintime.raw*1000#
        },
        "wind": {
            "max": "$day.wind.max.format(format_string='%.1f',add_label=False)",
            "min": "$day.wind.min.format(add_label=False)",
            "maxtime": #echo $day.wind.maxtime.raw*1000#,
            "mintime": #echo $day.wind.mintime.raw*1000#,
            "windSpd_20minMax": "$span($time_delta=1200).windGust.max.format(add_label=False)",
            "windSpd_20minAvg": "$span($time_delta=1200).windSpeed.avg",
            "windDir_20minAvg": "$span($time_delta=1200).windDir.avg.ordinal_compass"
        },
        "barometer": {
            "trend":"$trend.barometer.format(format_string='%.2f',add_label=False)",
            "max": "$day.barometer.max.format(format_string='%.2f',add_label=False)",
            "min": "$day.barometer.min.format(format_string='%.2f',add_label=False)",
            "maxtime": #echo $day.barometer.maxtime.raw*1000#,
            "mintime": #echo $day.barometer.mintime.raw*1000#
        },
        "rain": {
            "maxRate": "$day.rainRate.max",
            "maxRateTime": #echo $day.rainRate.maxtime.raw*1000#,
            "sum": {
                "today": "$day.rain.sum",
                "yesterday": "$yesterday.rain.sum",
                "week": "$span($week_delta=1).rain.sum",
                "month": "$month.rain.sum",
                "year": "$year.rain.sum"
            }
        }
    },
    "almanac": {
        "sun": {
            "rise": #echo $almanac.sun.rise.raw*1000#,
            "transit": #echo $almanac.sun.transit.raw*1000#,
            "set": #echo $almanac.sun.set.raw*1000#,
            "daylight": $daylight,
            "antitransit": {
                "previous": #echo $almanac.sun.previous_antitransit.raw*1000#,
                "next": #echo $almanac.sun.next_antitransit.raw*1000#
            }
        },
        "moon": {
            "rise": #echo $almanac.moon.rise.raw*1000#,
            "set": #echo $almanac.moon.set.raw*1000#,
            "phase": "$almanac.moon_phase",
            "percentfull": "$almanac.moon_fullness",
            "index": "$almanac.moon_index",
            "antitransit": {
                "previous": #echo $almanac.moon.previous_antitransit.raw*1000#,
                "next": #echo $almanac.moon.next_antitransit.raw*1000#
            },
            "new": {
                "previous": #echo $almanac.previous_new_moon.raw*1000#,
                "next": #echo $almanac.next_new_moon.raw*1000#
            },
            "full": {
                "previous": #echo $almanac.previous_full_moon.raw*1000#,
                "next": #echo $almanac.next_full_moon.raw*1000#
            }
        }
    }
}
