#encoding UTF-8
#import datetime
#errorCatcher Echo
#set $daylight = $almanac.sun.set.raw - $almanac.sun.rise.raw
{
    "timestamp": "$current.dateTime.raw",
    "timestamp_formatted": "#echo datetime.datetime.fromtimestamp($current.dateTime.raw).strftime('%-I:%M %p')#",
    "station": {
        "latitude": "$station.stn_info.latitude_f",
        "longitude": "$station.stn_info.longitude_f",
        "altitude": "$station.altitude",
        "serveruptime": "$station.os_uptime"
    },
    "today": {
        "outTemp": {
            "max": "$day.outTemp.max",
            "maxtime": "#echo datetime.datetime.fromtimestamp($day.outTemp.maxtime.raw).strftime('%-I:%M %p')#",
            "min": "$day.outTemp.min",
            "mintime": "#echo datetime.datetime.fromtimestamp($day.outTemp.mintime.raw).strftime('%-I:%M %p')#"
        },
        "dewpoint": {
            "max": "$day.dewpoint.max",
            "maxtime": "#echo datetime.datetime.fromtimestamp($day.dewpoint.maxtime.raw).strftime('%-I:%M %p')#",
            "min": "$day.dewpoint.min",
            "mintime": "#echo datetime.datetime.fromtimestamp($day.dewpoint.mintime.raw).strftime('%-I:%M %p')#"
        },
        "wind": {
            "max": "$day.wind.max.format(format_string='%.1f',add_label=False)",
            "maxtime": "#echo datetime.datetime.fromtimestamp($day.wind.maxtime.raw).strftime('%-I:%M %p')#",
            "min": "$day.wind.min.format(add_label=False)",
            "mintime": "#echo datetime.datetime.fromtimestamp($day.wind.mintime.raw).strftime('%-I:%M %p')#",
            "windGust_lastHr": "$span($hour_delta=1).windGust.max",
            "windSpd_1hrAvg": "$span($hour_delta=1).windSpeed.avg",
            "windDir_1hrAvg": "$span($hour_delta=1).windDir.avg.ordinal_compass"
        },
        "barometer": {
            "trend":"$trend.barometer.format(format_string='%.2f',add_label=False)",
            "max": "$day.barometer.max.format(format_string='%.2f',add_label=False)",
            "maxtime": "#echo datetime.datetime.fromtimestamp($day.barometer.maxtime.raw).strftime('%-I:%M %p')#",
            "min": "$day.barometer.min.format(format_string='%.2f',add_label=False)",
            "mintime": "#echo datetime.datetime.fromtimestamp($day.barometer.mintime.raw).strftime('%-I:%M %p')#"
        },
        "rain": {
            "maxRate": "$day.rainRate.max",
            "sum": {
                "yesterday": "$span($day_delta=1).rain.sum",
                "week": "$span($week_delta=1).rain.sum",
                "month": "$month.rain.sum",
                "year": "$year.rain.sum"
            }
        }
    },
    "almanac": {
        "sun": {
            "rise": "$almanac.sun.rise.raw",
            "rise_formatted": "#echo datetime.datetime.fromtimestamp($almanac.sun.rise.raw).strftime('%-I:%M %p')#",
            "transit": "$almanac.sun.transit.raw",
            "set": "$almanac.sun.set.raw",
            "set_formatted": "#echo datetime.datetime.fromtimestamp($almanac.sun.set.raw).strftime('%-I:%M %p')#",
            "daylight": "$daylight",
            "antitransit": {
                "previous": "$almanac.sun.previous_antitransit.raw",
                "next": "$almanac.sun.next_antitransit.raw"
            }
        },
        "moon": {
            "rise": "$almanac.moon.rise.raw",
            "rise_formatted": "#echo datetime.datetime.fromtimestamp($almanac.moon.rise.raw).strftime('%-I:%M %p')#",
            "set": "$almanac.moon.set.raw",
            "set_formatted": "#echo datetime.datetime.fromtimestamp($almanac.moon.set.raw).strftime('%-I:%M %p')#",
            "phase": "$almanac.moon_phase",
            "percentfull": "$almanac.moon_fullness",
            "index": "$almanac.moon_index",
            "antitransit": {
                "previous": "$almanac.moon.previous_antitransit.raw",
                "next": "$almanac.moon.next_antitransit.raw"
            },
            "new": {
                "previous": "$almanac.previous_new_moon.raw",
                "next": "$almanac.next_new_moon.raw"
            },
            "full": {
                "previous": "$almanac.previous_full_moon.raw",
                "next": "$almanac.next_full_moon.raw"
            }
        }
    }
}
