#errorCatcher Echo
<!DOCTYPE html>
<html lang='en'>
    <head>
        #include "include/head.html.tmpl"
    </head>
    <body>
        <main>
            <div class='row g-0 text-center'>
                <!--SiteLogo-->
                <div class='col-12 col-lg-3 flex-center section-header my-auto py-1'>
                    #include "include/r1c1-logo.html.tmpl"
                </div>
                <!-- Alerts -->
                <div class='col-12 col-lg-6 py-lg-1'>
                    #include "include/r1c2-alerts.html.tmpl"
                </div>
                <!-- Datetime -->
                <div class='col-12 col-lg-3 d-flex flex-lg-column my-auto py-1'>
                    #include "include/r1c3-datetime.html.tmpl"
                </div>
                <!-- Current Wx -->
                <div class='col-12 col-lg-4 pt-1 bt'>
                    #include "include/r2c1-current.html.tmpl"
                </div>
                <!-- Wind Section -->
                <div class='col-12 col-lg-4 bt bs-lg' style='min-height: 235px;'>
                    #include "include/r2c2-wind.html.tmpl"
                </div>
                <!-- Rain Section -->
                <div class='col-12 col-lg-4 bt bs-lg'>
                    #include "include/r2c3-rain.html.tmpl"
                </div>
                <!-- Weather Extras, Records, and Inside observations -->
                <div class='col-12 col-lg-4 bt'>
                    #include "include/r3c1-extras.html.tmpl"
                </div>
                <!-- Metar -->
                <div class='col-12 col-lg-4 bt bs-lg'>
                    #include "include/r3c2-metar.html.tmpl"
                </div>
                <!-- Almanac -->
                <div class='col-12 col-lg-4 py-1 bt bs-lg'>
                    #include "include/r3c3-sunmoon.html.tmpl"
                </div>
                <!-- Forecast -->
                #include "include/r4-forecast.html.tmpl"
            </div>
        </main>
    </body>
</html>
