{
    "manifest_version" : 2,
    "version" : "0.2c",
    "name" : "$Extras.logo_title",
    "id" : "https://$Extras.websocket_host",
    "description" : "Weather Console App",
    "short_name" : ""$Extras.logo_title",
    "display" : "standalone",
    "start_url" : "https://$Extras.websocket_host"
}
