#encoding UTF-8
#errorCatcher Echo
{
    "timestamp" : #echo $current.dateTime.raw*1000#
    ,
    #include "include-json/obwx.station.json.inc"
    ,
    #include "include-json/obwx.current.json.inc"
    ,
    #include "include-json/obwx.today.json.inc"
    ,
    #include "include-json/obwx.almanac.json.inc"
}
