.sun-n-moon {
    padding-top: 10px;
}

.compass-rose {
    position: relative;
    /*left: 50%;*/
}

.compass-rose-text {
    min-width: 60px;
    top: 62px;
    text-align: center;
    font-size: 1.125rem;
    position: absolute;
    translate: -50%;
}

.arrow {
    position: absolute;
    translate: -50%;
    transition: -webkit-transform 1s ease-in;
}

.rose { 
    position: absolute;
    translate: -50%;
}
/*Global*/
/* {
  box-sizing: border-box;
}*/

.col-xl {
  max-width: 650px;
}

/*.inside-settings {
margin:0 auto;
}*/

html {
  scrollbar-width: none;
}

body {
background: #000000;
color: #f2f2f2;
/*font-size: 1.375rem;*/
/* overflow: hidden; /*Hide Scrollbars*/
}

main {
max-width: 1900px;
}

.border, .border-top {
  border-color: #5f5f6b !important;
}

/*Announcements Row*/
.announcements {
min-height: 84px;
}

.site-logo {
  min-width: 330px;
  font-size: 1.375rem;
}

.weather-alerts {
  height: 100%;
  font-size: 1.125rem;
  flex-direction: column;
}

/*Airport ID and update time*/
.airport-id-container {
  line-height: 1.1rem;
  position: relative;
}

[class$="-id-updated"] {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 5px;
}

/*.metar-id {
  font-size: 1rem;
}*/

.metar-update-time {
  font-size: 0.875rem;
}

/*Flight Rules*/
.flight-rules-container {
  position: relative;
}

[class$="-rules"] {
  width: 100%;
  font-size: 1.125rem;
  text-align: center;
  position: absolute;
  top: 115px;
}

/*Visibility and Sky conditions*/
.vis-container, .sky-container {
  position: relative;
  min-height: 80px;
  font-size: 1.125rem;
  text-align: center;
}

[class$="-vis"] {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

[class$="-sky"] {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

/*Forecast Row*/
[class^="forecast-container-p"]{
  min-width: 165px;
}

.websocket-status {
  font-size: 1.375rem;
}

.extras-row {
  font-size: 1.25rem;
  min-height: 200px;
}

/* Clean this up */

.bottom-row {
  font-size: 1.25rem;
}

.current-wx {
  /*background: #211722;*/
  min-width: 150px;
}

.current-wx-icon {
  /*background: #42421f;*/
  min-width: 110px;
  min-height: 110px;
}

.current-wx-text {
  font-size: 1.375rem;
}

.temp-humidity {
  /*background: #201313;*/
  min-width: 150px;
}

.current-outTemp {
  font-size: 4.063rem;
}

.wind-left {
  min-height: 221px;
  min-width: 150px;
  /*background: #292e2f;*/
}
.wind-right {
  min-width: 150px;
  /*background: #27281c;*/
}

.forecast-icon {
  padding-right: 0px;
}

.forecast-windRain {
  font-size: 1.125rem;
}

/* Almanac Section*/
/*.almanac {
    background: rgb(25,25,25);
}*/

[class$="rise-label"], [class$="set-label"], .noon, .moon-phase {
    font-size: 1rem;

}

[class$="rise-time"], [class$="set-time"] {
    font-size: 1.25rem;
}

.sunrise, .moonrise {
    margin-right: 10px;
    line-height: 1.35rem;
}
.sunset, .moonset {
    margin-left: 10px;
    line-height: 1.35rem;
}

.sunrise, .sunset {
    width: 35%;
    margin: auto;
}

.moonrise, .moonset {
    width: 45%;
    margin: auto;
}

.noonrow {
    position: relative;
    top: -5px;
}

.sunrow {
    position: relative;
    top: 20px;
}

.moonrow {
    position: relative;
    top: 25px;
}

.phaserow {
    position: relative;
    top: 40px;
}

.label-position {
    min-width: 400px;
    left: 50%;
    line-height: 1.5rem;
}

/* Wind Direction Compass*/

.wind-direction-container {
  padding-top: 10px;
  min-width: 165px;
  min-height: 140px;
  left: 50%;
}

.wind-direction-observations {
  text-align: center;
  font-size: 1.375rem;
  padding-top: 20px;
  display: block;
}

.wind-compass {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: relative;
  /* color: #555; */
  border: solid #808080 5px;
  margin-left: 60px;
  margin: 0 auto;
}

.wind-compass:before {
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 0.875rem;
  top: -2px;
}

[class$="-windDirectionArrow"] {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  transition: -webkit-transform 1s ease-in;
}

[class$="-windDirectionArrow"]:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 21px solid #c50a1d;
  position: absolute;
  top: -10px;
  left: 48px;
  z-index: 99;
}

/* Wind Speed-o-Meter */

.wind-speed-container {
  font-size: 1.25rem;
  line-height: 1.3;
  padding-top: 15px;
  min-height: 130px;
  min-width: 165px;
}

.wind-speed-observations {
  text-align: center;
}

[class$="wind-speed-mph"] {
  font-size: 2.063rem;
  padding-top: 30px;
  /*display: block;*/
}

.windometer {
  display: block;
  width: 140px; /*This and height define size of whole meter*/
  height: 70px; /*Must be half of width*/
  position: relative;
  /* color: #555; */
  margin-left: 60px;
  margin: 0 auto;
  border-style: solid;
  border-color: #808080;
  border-width: 5px 5px 0px 5px; /*Size of the 'bar'*/
  border-top-left-radius: 70px; /*Change to keep 'bar' round*/
  border-top-right-radius: 70px; /*Change to keep 'bar' round*/
}

.windometer:before {
font-weight: bold;
position: absolute;
text-align: center;
width: 100%;
font-size: 0.875rem;
top: -2px;
}

.windometer-legend {
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
/*
.windometer-legend-lo {
  margin-right: 60px;
  padding-left: 5px;
}
*/
[class$="-windometer-legend-hi"] {
  margin-left: 137px;
}

[class$="wind-speed-arrow"], .windometer-arrow {
width: 100%;
height: 200%;
display: block;
position: absolute;
top: 0;
transition: -webkit-transform 1s ease-in;
/* background-color: blue; Enable to see how arrow lines up (use 0 degree rotation)*/
}

[class$="wind-speed-arrow"]:after, .windometer-arrow:after {
content: "";
width: 0;
height: 0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 25px solid #c50a1d;
position: absolute;
top: -12px; /*Moves the arrow away or towards center of circle*/
left: 59px; /*Centers the arrow on the box edge (use 0 degree rotation) */
z-index: 99;
}

.windometer-tickmark-low {
  width: 100%; /*No changes needed*/
  height: 200%; /*No changes needed*/
  display: block;
  position: absolute;
  /* background-color: grey; */
  top: 0;
  transition: -webkit-transform 1s ease-in;
}

.windometer-tickmark-low:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid #808080; /*2px solid transparent*/
  border-right: 3px solid #808080; /*2px solid transparent*/
  border-top: 7px solid #808080;
  position: absolute;
  top: -3px; /*Moves the arrow away or towards center of circle*/
  left: 63px; /*Centers the arrow on the box edge (use 0 degree rotation) -2,198*/
  z-index: 90;
}

.windometer-tickmark-mid {
  width: 100%; /*No changes needed*/
  height: 200%; /*No changes needed*/
  display: block;
  position: absolute;
  /* background-color: grey; */
  top: 0;
  transition: -webkit-transform 1s ease-in;
}

.windometer-tickmark-mid:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid #808080; /*2px solid transparent*/
  border-right:3px solid #808080; /*2px solid transparent*/
  border-top: 7px solid #808080;
  position: absolute;
  top: -3px; /*Moves the arrow away or towards center of circle*/
  left: 63px; /*Centers the arrow on the box edge (use 0 degree rotation) -2,198*/
  z-index: 90;
}

.windometer-tickmark-hi {
  width: 100%; /*No changes needed*/
  height: 200%; /*No changes needed*/
  display: block;
  position: absolute;
  top: 0;
  transition: -webkit-transform 1s ease-in;
}

.windometer-tickmark-hi:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid #808080; /*2px solid transparent*/
  border-right: 3px solid #808080; /*2px solid transparent*/
  border-top: 7px solid #808080;
  position: absolute;
  top: -2px; /*Moves the arrow away or towards center of circle*/
  left: 63px; /*Centers the arrow on the box edge (use 0 degree rotation) -2,198*/
  z-index: 90;
}

.windometer-tickmark-recentHi { 
  width: 100%; /*No changes needed*/
  height: 200%; /*No changes needed*/
  display: block;
  position: absolute;
  top: 0;
  transition: -webkit-transform 1s ease-in;
}

.windometer-tickmark-recentHi:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 15px solid #00c8c8;
  position: absolute;
  top: -5px; /*Moves the arrow away or towards center of circle*/
  left: 64px; /*Centers the arrow on the box edge (use 0 degree rotation) -2,198*/
  z-index: 98;
}
